<div class="scroll" #scroll>
  @if (testimonials.length != 12) {
  <loading-spinner />
  } @else {
  <div class="inner-scroll" #innerScroll>
    @for (testimonial of testimonials; track testimonial) {
    <div class="list-item">
      <div class="list-header">
        <div class="profile-img">
          <img src="../../../../../assets/home/profile-4.png" />
        </div>
        <div class="header-column">
          <h3 class="inter-font-paragraph heading">
            {{ testimonial.name }}
          </h3>
          <p class="inter-font-paragraph">{{ testimonial.occupation }}</p>
        </div>
      </div>
      <p class="inter-font-paragraph">{{ testimonial.review }}</p>
    </div>
    }
  </div>
  }
</div>
