<div class="box">
  <img class="girl-img" src="../../../../../assets/home/pc-girl.png" />
  <div class="text-column">
    <h2 class="clash-font">Discover the power of smart learning</h2>
    <div class="list">
      <div class="list-item">
        <div class="list-header">
          <div class="orange-icon">
            <img src="../../../../../assets/home/feature-1.png" />
          </div>
          <h3 class="inter-font-heading">Interactive Quizzes</h3>
        </div>
        <p class="inter-font-paragraph">
          Engage with a wide range of quizzes designed to test your knowledge
          and enhance your learning experience
        </p>
      </div>
      <div class="list-item">
        <div class="list-header">
          <div class="orange-icon">
            <img src="../../../../../assets/home/feature-2.png" />
          </div>
          <h3 class="inter-font-heading">Question Bank</h3>
        </div>
        <p class="inter-font-paragraph">
          Access a comprehensive collection of past exam questions and practice
          materials across various universities.
        </p>
      </div>
      <div class="list-item">
        <div class="list-header">
          <div class="orange-icon">
            <img src="../../../../../assets/home/feature-3.png" />
          </div>
          <h3 class="inter-font-heading">Personalized Learning</h3>
        </div>
        <p class="inter-font-paragraph">
          Tailor your study sessions to your unique needs with our personalized
          learning tools.
        </p>
      </div>
      <div class="list-item">
        <div class="list-header">
          <div class="orange-icon">
            <img src="../../../../../assets/home/feature-4.png" />
          </div>
          <h3 class="inter-font-heading">Resource Library</h3>
        </div>
        <p class="inter-font-paragraph">
          Explore our vast library of study materials, including lecture notes,
          textbooks, and reference guides.
        </p>
      </div>
    </div>
  </div>
</div>
