<div id="blue-box">
  <div id="box">
    <div class="text-column">
      <h1 class="clash-font">Elevate Your Learning</h1>
      <p class="inter-font-paragraph">
        Unlock the full potential of your studies with our platform. Here are
        the key benefits you'll enjoy, each designed to make your learning
        journey more effective and enjoyable.
      </p>
      <div class="list">
        <div class="list-item">
          <div class="list-header">
            <div class="orange-icon">
              <img src="../../../../../assets/home/magic-pen.png" />
            </div>
            <h3 class="inter-font-heading">Resource Library</h3>
          </div>
          <p class="inter-font-paragraph">
            Get exam-ready with our extensive bank of past questions and
            practice tests.
          </p>
        </div>

        <div class="list-item">
          <div class="list-header">
            <div class="orange-icon">
              <img src="../../../../../assets/home/magic-pen.png" />
            </div>
            <h3 class="inter-font-heading">Resource Library</h3>
          </div>
          <p class="inter-font-paragraph">
            Get exam-ready with our extensive bank of past questions and
            practice tests.
          </p>
        </div>

        <div class="list-item">
          <div class="list-header">
            <div class="orange-icon">
              <img src="../../../../../assets/home/magic-pen.png" />
            </div>
            <h3 class="inter-font-heading">Resource Library</h3>
          </div>
          <p class="inter-font-paragraph">
            Get exam-ready with our extensive bank of past questions and
            practice tests.
          </p>
        </div>
      </div>
    </div>
    <div class="ui-gif"></div>
  </div>
</div>
