$large-width: 1440px;
$medium-width: 1024px;
$small-width: 480px;

#blue-box {
  background-color: #ebf5ff;
}

#box {
  padding: 3rem 0;
  margin-inline: 3.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (width > $large-width) {
    width: $large-width;
    margin-inline: auto;
  }
  @media (width <= $medium-width) {
    padding: 2rem 0;
    margin-inline: 2.75rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  @media (width <= $small-width) {
    margin-inline: 1rem;
  }
}

.text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clash-font {
  margin: 0;
  margin-bottom: 2rem;
  color: #0059b3;
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 3.875rem;
  letter-spacing: -2%;
  font-family: "Clash Display", sans-serif;
  @media (width <= $small-width) {
    margin-bottom: 1.25rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.inter-font-heading {
  margin: 0;
  color: #000000;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: -2%;
  font-family: "Inter", sans-serif;
}

.inter-font-paragraph {
  margin: 0;
  color: #2d2d2d;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1%;
  font-family: "Inter", sans-serif;
}

.list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-item {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem 1.75rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  @media (width <= $small-width) {
    padding: 0.75rem 1rem;
  }
}

.list-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.orange-icon {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.5rem;
  background-color: #f37900;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  img {
    width: calc(100% - 1rem);
    object-fit: contain;
  }
}

.ui-gif {
  width: 100%;
  margin-inline: auto;
  object-fit: contain;
  @media (width <= $medium-width) {
    grid-row-start: 1;
    height: 15rem;
  }
}
