$large-width: 1440px;
$medium-width: 1024px;
$small-width: 480px;

.page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  hero {
    margin-top: -3rem;
  }
  padding-bottom: 4rem;
}

#testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.clash-font {
  margin: 0;
  color: #0059b3;
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 3.875rem;
  letter-spacing: -2%;
  text-align: center;
  text-wrap: balance;
  width: calc(100% - 2rem);
  font-family: "Clash Display", sans-serif;
  @media (width <= $small-width) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.inter-font-paragraph {
  margin: 0;
  color: #2d2d2d;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1%;
  font-family: "Inter", sans-serif;
}

.inter-font-paragraph.subheading {
  width: 80%;
  text-align: center;
  @media (width <= $small-width) {
    width: calc(100% - 2rem);
  }
}

#faq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: 3.75rem;
  margin-top: 2rem;
  @media (width > $large-width) {
    width: $large-width;
    margin-inline: auto;
  }
  @media (width <= $medium-width) {
    row-gap: 1rem;
    margin-top: 0;
    margin-inline: 2.75rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  @media (width <= $small-width) {
    margin-inline: 1rem;
  }
}

#faq .img-col {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  align-content: start;
}

#faq .img-col img {
  width: 60%;
  margin-inline: auto;
  object-fit: contain;
  @media (width <= $medium-width) {
    width: 70%;
    grid-row-start: 1;
  }
  @media (width <= $small-width) {
    width: 100%;
  }
}

#faq .clash-font {
  font-size: 2.5rem;
  line-height: 3.075rem;
  @media (width <= $small-width) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
