<div class="page">
  <navbar />
  <hero />
  <feature-list />
  <benefit-list />

  <div id="testimonials">
    <h2 class="clash-font">Hear from students like you</h2>
    <p class="inter-font-paragraph subheading">
      Hear from students who have transformed their learning experience with our
      platform. Their success stories speak to the effectiveness and value of
      our tools and resources
    </p>
    <testimonial-list />
  </div>

  <div id="faq">
    <div class="img-col">
      <h2 class="clash-font">Frequently Asked Questions (FAQs)</h2>
      <img src="../../../assets/home/faq-girl.png" />
    </div>
    <faq-list />
  </div>

  <div id="join">
    <img src="../../../assets/home/study-group.png" />
    <h2 class="clash-font">Join Our Learning Community Today!</h2>
    <p class="inter-font-paragraph">
      Don’t wait to achieve your academic goals. Join our vibrant community of
      students reaching academic excellence.
    </p>
    <button id="white-btn">Get Started</button>
  </div>
</div>
