$blue: #002B59;
$gray: #8B909A;
$breakpoint: 768px;

.container {
    display: flex;
    flex-direction: column;
    padding: 0 0.85rem;
    height: 100%;
    width: calc(fit-content + 2rem);
    transition: all 0.2s ease-out;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    &.collapse-container {
        align-items: center;
        width: fit-content;
    }

    @media screen and (max-width: $breakpoint) {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        overflow: hidden;
        border-radius: 0 0 0.5rem 0;

        &.collapse-container {
            border: none;
            height: 4rem;
            box-shadow: none;
        }
    }
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0;
    width: 100%;

    &.logo-collapse {
        gap: 1rem;
        justify-content: center;
        flex-direction: column-reverse;
    }
}

.logo {
    height: 2.5rem;
    object-fit: contain;
}

.logo-icon {
    height: 4rem;
    object-fit: contain;
}

.hide { display: none; }

.hamburger {
    border: none;
    height: 2rem;
    width: 2.5rem;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;

    .stroke {
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: $gray;
        transition: background-color 0.2s ease-in-out;
    }

    &:hover {
        .stroke { background-color: $blue; }
    }

    @media screen and (max-width: $breakpoint) {
        &:hover {
            .stroke { background-color: $gray; }
        }
    }
}

.menu-title {
    font-size: 1rem;
    font-weight: light;
    color: $gray;
    margin-top: 2rem;
    @media (max-width: $breakpoint) { margin-top: 0; }
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    @media (max-width: $breakpoint) { padding-bottom: 1rem; }
}

.collapse {
    .nav-item {
        p { display: none; }
        gap: 0;
    }
}

.nav-item {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    transition: all 0.2s ease-in-out;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    p {
        font-size: 1.5rem;
        font-weight: 400;
        color: $gray;
        margin: 0;
    }

    svg path {
        stroke: $gray;
        &.has-fill { fill: $gray; }
        &.stroke-only { stroke-width: 3px; }
    }

    &:hover {
        p { color: $blue; }
        svg path {
            stroke: $blue;
            &.has-fill { fill: $blue; }
        }
    }

    &.selected {
        background-color: $blue;
        p { color: white; }
        svg path {
            stroke: white;
            &.has-fill { fill: white; }
        }
    }
}

