$breakpoint-sm: 768px;
$border-color: #FF7F00;// #002B59; // #FF7F00;
$background-color: #ECEAEA;

.no-items {
    padding: 3rem 0;
    border-radius: 1rem;
    border: 2px solid $background-color;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(5, 14.286%);
    column-gap: 7.143%;
    row-gap: 1.5rem;

    @media screen and (max-width: $breakpoint-sm) {
        grid-template-columns: repeat(2, 40%);
        column-gap: 20%;
    }
}

.flex-list {
    display: flex;
    flex-direction: column;
}

.grid-item, .flex-item {
    color: #1B1C1E;
    font-size: 1.5rem;
    font-weight: 400;

    cursor: pointer;
    background-color: $background-color;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: lighten($border-color, 15%) !important;
        color: white;
    }
}

.grid-item {
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;

    border-radius: 1rem;
    border: 2px solid $border-color;
}



.flex-item {
    display: flex;
    align-items: center;

    padding: 1rem 0;
    padding-left: 1.5rem;
    border: none;
    border-top: 1px solid $border-color;
    background-color: $background-color;

    &:nth-child(even) {
        background-color: lighten($background-color, 5%);
    }
}