<div class="blue-box">
  <div class="text-column">
    <h1 class="clash-font">
      <span id="smiley"
        >Q<img src="../../../../../assets/home/smiley-face.png" /></span
      >uiz Your Wa<span id="sparkle"
        >y,<img src="../../../../../assets/home/sparkle.png"
      /></span>
      Ace Every Day
    </h1>
    <p class="inter-font-1">
      Discover a vast collection of university and subject-specific questions to
      enhance your knowledge and ace your exams.
    </p>
    <div class="btn-row">
      <button id="orange-btn">Get Started</button>
    </div>
  </div>
  <img class="girl-img" src="../../../../../assets/home/study-girl.png" />
</div>
